.Title{
    width: 45%;
    /* margin-left: 150px; */
}
.about-head{
    background-color: pink;
    width: fit-content;
    border-radius:8px ;
}
.about-heading{
    display: block;
}
p{
    font-size: x-large;
}
.about-img{
    height: 400px;
}
/* responsive */
@media (max-width: 425px){
    .Title{
        width: 100%;
    }
    .about-heading{
        display: none;
    }
    p{
        font-size: large;
    }
    .about-img{
        height: 200px;
    }
}