.faq-img{
    width: 25%;
}
.accordion{
    width: 60%;
}
.accordion-button{
    background: #cfe9f5;
    color: blue;
    font-weight: bolder;
    font-size: large;
}
.accordion-item{
    color:#7b1fa2 ;
}
.accordion-body {
    background-color: #e4d7ed;
    font-weight:600;
}

@media (max-width: 500px) {
    .faq-img{
        width: 60%;
    }
    .accordion{
        width: 90%;
    }
    .accordion-button{
        font-weight: bolder;
        font-size: small;
    }
    .accordion-body {
        font-size: smaller;
        font-weight:600;
    }
}