.footer-design>div,
.footer {
    background-color: #7b1fa2;
    color: white;
    margin: 0%;
    padding: 0%;
}

.quick-link>a {
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: 500;
}

.quick-link>a:hover {
    color: rgb(51, 49, 49);
    text-decoration: underline;
}

.contact>p {
    font-size: large;
}

.mylink {
    text-decoration: solid;
    color: white;
    font-size: medium;
}

.footer>p {
    display: flex;
    justify-content: end;
    padding: 0;
}

.footer>a {
    display: flex;
    justify-content: start;
    padding: 1;
}

.footer-wave-top {
    transform: rotate(180deg);
}

@media (max-width: 500px) {

    .footer>p,
    .footer>a {
        justify-content: center;
    }

    .contact {
        margin: 0 50px;
    }

    .contact>p,
    .contact>h3 {
        font-size: medium;
    }

    .contact>h3 {
        font-weight: 900;
    }
}