.footer-design > div,.footer{
    background-color: #7b1fa2;
    color: white;
    margin: 0%;
    padding: 0%;
}
.footer-design > div{
    border-radius:50px 50px 0 0;
}
.footer-design > div:nth-child(even){
    height: 80px;
    width: 6.7%;
}
.footer-design > div:nth-child(odd){
    height: 90px;
    width: 6.7%;
}
.quick-link > a{
    text-decoration: none;
    color: white;
    font-size: large;
    font-weight: 500;
}
.quick-link > a:hover{
    color: rgb(51, 49, 49);
    text-decoration: underline;
}
.mylink{
    text-decoration: solid;
    color: white;
}
@media (max-width: 500px) {
    .footer-design > div:nth-child(odd){
        height: 35px;
    }
    .footer-design > div:nth-child(even){
        height: 30px;
    }
}