/* General Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  border-radius:0 0px;
}
#logoimg{
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

#logocant{
  width: 15%;
}
.header-left{
  width: 85%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links{
  height: 60%;
  width: 100%;
  border-radius: 50px;  
  background-color: #7b1fa2;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-links a {
  color: white;
  text-decoration: none;
  font-size:larger;
  font-weight: 700;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #d7d6d7;
  text-shadow: 2px 2px 3px black;
}

/* Toggle Button */
.menu-toggle {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #7b1fa2;
    text-align: center;
    padding: 10px 0;
    border-radius: 0%;
  }

  .nav-links.open {
    display: flex;
   }

  .nav-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    font-size: 1.2rem;
    background-color: #7b1fa2;
    color: white;
  }
  #logoimg{
    height: 70px;
    width: 70px;
  }
  #logocant{
    background-color: #7b1fa2;
    width: 40%;
    height: 80%;
    border-radius:50px 0 0 50px ;
  }
  .header-left{
    height: 80%;
    width: 50%;
    padding-right: 30px;
    justify-content: end;
    background-color: #7b1fa2;
    border-radius: 0 50px 50px 0 ;
   }
  .nav-cant{
    /* background-color: #7b1fa2; */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
