#Gallery {
    background: white;
}

.Gallery{
    width: 500px;
}
.gallery-card{
    height: 220px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.gallery-img:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5;
}

.gallery-img{
    height: 220px;
    width: 400px;
    border-radius: 30px;
    transition: transform 0.4s ease-in-out;
}

.gallery-cant{
    height: 500px;
    width: 100%;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */
    overflow-y: scroll;
    overflow-x: hidden;
}

/* responsive */
@media (max-width: 500px) {
    .Gallery{
        width: 280px;
    }
    .gallery-img{
        height: 160px;
        width: 300px;
        border-radius: 20px;
    }
    .gallery-card{
        height: 160px;
        width: 300px;
        border-radius: 20px;
    }
    .gallery-cant{
        width: 85%;
        height: 400px;
    }
}