/* General Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7b1fa2;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  border-radius:0 0px;
}

#header>nav{
  font-size: larger;
}

#logoimg{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#logocant{
  padding-left: 50px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  /* font-size: 1.0rem; */
  transition: color 0.3s;
  margin-right: 50px;
}

.nav-links a:hover {
  color: #d7d6d7;
  text-shadow: 2px 2px 3px black;
}

/* Toggle Button */
.menu-toggle {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #7b1fa2;
    text-align: center;
    padding: 10px 0;
   
  }

  .nav-links.open {
    display: flex;
    
  }

  .nav-links a {
    padding: 10px 0;
    font-size: 1.2rem;
    
  }
  #logoimg{
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  #logocant{
    padding-left: 0px;
  }
}
